:root 
  --color-text: #222222

html
  font-family: "proxima-nova", sans-serif
  font-size: 16px
  color: var(--color-text)


h1,
h2,
h3,
h4,
h5,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5
  font-family: "futura-pt", sans-serif
  font-style: normal
  font-weight: 600


.q-btn--outline
    width:100%
    max-width:380px
    border:2px solid var(--q-color-primary)
    font-weight: bold
    
.q-btn--outline:not(.disabled):hover
    background-color: var(--q-color-primary) !important
    color:#fff !important
    border:2px solid #fff

.q-btn--outline .q-btn__wrapper:before
    border:0

.q-btn__wrapper
    padding: 4px 20px 5px

.q-btn.disabled
  opacity:0.4 !important

.q-toolbar
  padding: 0
  @media only screen and (min-width: 640px) 
        padding: 0 12px

.q-dialog__inner > div
    border-radius: 12px


body .wallet-selector-tos-agreement
      margin-top: 15px

body .wallet-selector-connect-body
       margin-top: 15px

body .wallet-selector-proton-wallet, body .wallet-selector-anchor-wallet
  border-radius:10px

body .wallet-selector-logo
    padding: 2px  
    padding-top: 10px

    